# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

.mcp.json
.secrets/
release/
build/
TestReports/
TestResults/
.claude/


# PowerShell-specific files

# PowerShell script logs
*.log

# PowerShell cache files
*.cache

# PowerShell compiled files
*.ps1xml

# Temporary files created during script execution
*.tmp
*.bak

# Module build artifacts
*.nupkg
*.snupkg

# Misc. files.
*.bat
*.csv
*.cmd
*.backup.*
